<form action="/west" method="POST">
	<h4> You find another group of kids from the party. They say they know a place they can go for the night until they can call for help. They seem a little suspicious though… do you trust them? </h4>
	<label for="join">
		<input type="radio" name="group" value="join" required/>
			Join the group
	</label>
	<label for="walk">
		<input type="radio" name="group" value="walk" required/>
			Keep walking
	</label>
	<input type="submit">
</form>