<h1 style= "text-align:center">
Congratulations. You played yourself.
</h1>

<div style= "text-align:center">
<img src= "<%=@image%>">
</div>

<div style= "text-align:center">
<p><%=@scenario%></p>
</div>

