<form action="/throwcandy" method="POST">
	<h4> The raccoon eats the candy and grows to the size of a bear. Its eyes turn an unsettling shade of red, and foam oozes out of its mouth. Congratulations, you played yourself. Go back and try again.  </h4>
</form>